.not__exist {
  margin: auto;
  text-align: center;
}

.read__only__profile {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 100%;
  max-width: 250px;

}

.read__only__block {
  display: flex;

  label {
    text-align: right;
    margin-right: 30px;
  }
}

.button__container {
  display: flex;
  justify-content: center;
}
