/* You can add global styles to this file, and also import other style files */
@import "theme/variables";

@font-face {
  font-family: 'OpenSans';
  src:
    url('assets/Sans/OpenSans-Bold.ttf') format('ttf'),
    url('assets/Sans/OpenSans-BoldItalic.ttf') format('ttf'),
    url('assets/Sans/OpenSans-ExtraBold.ttf') format('ttf'),
    url('assets/Sans/OpenSans-ExtraBoldItalic.ttf') format('ttf'),
    url('assets/Sans/OpenSans-Italic.ttf') format('ttf'),
    url('assets/Sans/OpenSans-Light.ttf') format('ttf'),
    url('assets/Sans/OpenSans-LightItalic.ttf') format('ttf'),
    url('assets/Sans/OpenSans-Regular.ttf') format('ttf'),
    url('assets/Sans/OpenSans-SemiBold.ttf') format('ttf'),
    url('assets/Sans/OpenSans-SemiBoldItalic.ttf') format('ttf'),
}

body {
  max-width: 1200px;
  margin: auto;
  font-family: "OpenSans";
}

h1 {
  text-align: center;
}

label {
  font-size: 16px;
  color: $label__text__color;
  max-width: 50px;
}

// Button
button {
  background: $primary__button__background__color;
  color: $primary__button__text__color;
  height: 44px;
  padding: 5px 25px;
  font-size: 18px;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  border: 1px solid $primary__button__text__color;
  border-radius: 4px;
  margin: 5px 15px;
}

button:disabled {
  opacity: 0.3;
}


/* Input */
input,
select {
  width: 100%;
  padding: 5px;
  margin-bottom: 12px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  color: $primary__input__text__color;
}



// FORM
.form {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 90%;

  button {
    margin: 30px auto;
  }
}


// Error
.error {
  color: red;
}


// WARNING
.warning {
  color: $warning__button__text__color;
  border-color: $warning__button__text__color;
}

// OTHER
.page__title {
  margin: 0 0 10px;
  padding: 0 0 4px;
  position: relative;
}

.page__title::after {
  background-color: red;
  bottom: 0;
  content: '';
  display: block;
  height: 3px;
  left: 50%;
  position: absolute;
  transform: translate(-50%, 0);
  width: 50px;
}
